@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

.full-screen {
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa; /* Optional: Set a background color */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .navbar-custom {
    background-color: white;
    position: fixed !important; /* Posiziona la navbar sopra il carousel */
    top: 0; /* Allinea in alto */
    left: 0; /* Allinea a sinistra */
    width: 100%; /* Larghezza completa */
    z-index: 10; /* Assicurati che sia sopra il carousel */
    border: none; /* Rimuovi i bordi */
    box-shadow: none; /* Rimuovi le ombre */
}

.carousel-custom img {
    height: 80vh; /* Adjust the height as needed */
    object-fit: cover; /* Ensure the image fits nicely */
    filter: brightness(60%); /* Riduci la luminosità al 50% */
}

.card-custom{
    height: 10vh;
    width: 25vw;
    margin: 5vh 2vw 5vh 2vw; /* Top, Right, Bottom, Left */
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping to the next line */
}

.footer-custom{
    margin: 2vh 10vw 2vh 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.694);
}

.title-custom{
    margin: 10vh 0vh 0vh 0vh;
    text-align: center !important;
}

.form-card{
    width: 83vw;
    margin: 5vh 8vw 5vh 8vw; /* Top, Right, Bottom, Left */
    padding: 0vh 2vw 2vh 2vw; /* Top, Right, Bottom, Left */
}


.inline-custom {
    display: inline-flex;
    margin-right: 3vw;
}

.form-items{
    margin-top: 3vh;
}

.text-card{
    margin-left: 3vw;
    
}

